@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Crushed');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  margin: 50px 0 30px;
  font-family: 'Crushed', sans-serif;
  font-size: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
  border: transparent;
  border: 1px solid #999;
  border-radius: 2px;
  color: rgba(0,0,0,.8);
  background-color: #E6E6E6;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
}

select {
  height: 32px;
  justify-content: center;
  background-color: #E6E6E6;
  font-weight: 500;
  outline: none;
  vertical-align: bottom;
}

.drum-wrapper {
  display: grid;
}

.header, .types, .keys {
  display: inline-grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-gap: 10px;
}

.header {
  grid-template-columns: repeat(16, 50px);
  grid-template-rows: repeat(1, 50px);
  grid-row: 1;
  grid-column: 2;
  justify-self: start;
}

.header span.active {
  display: inline-flex;
  width: 8px;
  height: 8px;
  padding: 10px;
  margin: 0 auto;
  border: 2px solid rgba(255, 0, 120, 0.5);
  border-radius: 50%;
  box-sizing: content-box;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.types {
  justify-content: end;
  text-align: right;
  grid-template-columns: repeat(1, 100px);
  grid-template-rows: repeat(4, 50px);
  grid-column: 1;
  grid-row: 2; 
  justify-self: end;
}

.types div {
  padding-right: 20px;
}

.keys {
  align-items: flex-start;
  grid-template-columns: repeat(16, 50px);
  grid-template-rows: repeat(4, 50px);
  grid-column: 2;
  grid-row: 2;
  justify-self: start;
}

.keys .column .key {
  margin-bottom: 10px;
}

.keys .column.active .key:first-child.active::before {
  box-shadow: 0px 0px 15px 5px rgba(74, 255, 145, 0.5);
}

.keys .column.active .key:nth-child(n+2).active::before {
  box-shadow: 0px 0px 15px 5px rgba(74, 215, 255, 0.5);
}

.keys .column.active .key:nth-child(n+3).active::before {
  box-shadow: 0px 0px 15px 5px rgba(255, 190, 75, 0.5);
}

.keys .column.active .key:last-child.active::before {
  box-shadow: 0px 0px 15px 5px rgba(160, 75, 255, 0.5);
}
 
.key {
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  background: #e6e6e6;
  cursor: pointer;
}

.key::before {
  content: '';
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: 2px;
  background: #f3f3f3;
  z-index: 1;
}

.key:first-child.active {
  background: #dcffee;
}
.key:first-child.active::before {
  background: #c9ffe4;
}

.key:nth-child(n+2).active {
  background: #dcfeff;
}

.key:nth-child(n+2).active::before {
  background: #c9f9ff;
}

.key:nth-child(n+3).active {
  background: #fff8dc;
}

.key:nth-child(n+3).active::before {
  background: #ffebc9;
}

.key:last-child.active {
  background: #f2dcff;
}

.key:last-child.active::before {
  background: #ebc9ff;
}
